@use "global" as *;

.campaign {
}

.campaign__inner {
}

.campaign__content {
  margin-top: rem(24);
  margin-left: rem(-8);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.campaign__title {
  text-align: center;
}

.campaign__cards.swiper-wrapper {
  margin-left: rem(8);
  margin-bottom: rem(12);
}

.campaign__card.swiper-slide {
  width: rem(280);

  @include mq("md") {
    width: rem(333);
  }
}

.campaign__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}
