@use "global" as *;

.about-content {
  position: relative;
}

.about-content__image-block {
  position: relative;
  width: 100%;
  aspect-ratio: 345 / 212;
  margin-top: rem(28);

  @include mq("md") {
    margin-top: rem(40);
    aspect-ratio: 1080 / 661;
  }
}

.about-content__img01 {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(128 / 345 * 100%);
  aspect-ratio: 128 / 194;
}

.about-content__img02 {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(281 / 345 * 100%);
  aspect-ratio: 281 / 186;
}

.about-content__img02--sub {
  position: relative;
  width: 100%;

  @include mq("md") {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(281 / 345 * 100%);
  }
}

.about-content__wrapper {
  margin-top: rem(40);

  @include mq("md") {
    position: absolute;
    top: rem(200);
    left: rem(200);
    display: flex;
    margin-top: 0;
  }
}

.about-content__text--block {
  @include mq("md") {
    align-self: center;
    padding-inline: rem(40);
  }
}

.about-content__lead {
  font-family: $base-font-family-en;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1;
  color: $green;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25;
    color: $white;
  }
}

.about-content__lead--sub {
  position: absolute;
  top: rem(24);
  left: rem(24);
  color: $white;

  @include mq("md") {
    position: relative;
    top: 0;
    left: 0;
  }

  // @include mq("md") {
  //   top: rem(200);
  //   left: rem(200);
  // }
}

.about-content__text {
  margin-top: rem(16);
  font-family: $base-font-family-ja;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  color: $darkgreen;

  @include mq("md") {
    margin-top: 0;
    color: $white;
  }
}

.about-content__text--sub {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
  }
}

.about-content__button {
  margin-top: rem(50);
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
  }
}
