@use "global" as *;

.blog-page__wrapper {
  @include mq("md") {
    display: flex;
    gap: rem(86);
  }
}

.blog-page__container {
  max-width: 100%;
  width: calc(333 / 345 * 100%);
  margin-inline: auto;

  @include mq("md") {
    width: calc(700 / 1080 * 100%);
  }
}

.blog-page__aside {
  max-width: 100%;
  width: calc(294 / 345 * 100%);
  margin-top: rem(80);
  margin-inline: auto;

  @include mq("md") {
    margin-top: 0;
    width: calc(294 / 1080 * 100%);
  }
}

.blog-page__aside-item + .blog-page__aside-item {
  margin-top: rem(80);
}

.blog-page__aside-title {
  position: relative;
  padding: rem(14) 0 rem(12) rem(82);
  font-family: $base-font-family-ja;
  font-size: rem(24);
  font-weight: $normal;
  line-height: 1;
  color: $darkgreen;
  background: linear-gradient(
    90deg,
    $green 0%,
    $green calc(8 / 294 * 100%),
    transparent calc(8 / 294 * 100%),
    transparent 100%
  );
}

.blog-page__aside-title::before {
  position: absolute;
  top: 0;
  left: rem(24);
  content: "";
  width: rem(50);
  aspect-ratio: 1 / 1;
  background-color: $darkgreen;
  mask-image: url(../images/common/text-decoration01.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 86%;
}

.blog-page__aside-content {
  margin-top: rem(24);
}

.blog-page__aside-button {
  margin-top: rem(40);
  text-align: center;
}
