@use "global" as *;

.blog-page__wrapper {
  @include mq("md") {
    display: flex;
    gap: rem(80);
  }
}

.blog-page__wrapper--detail {
  @include mq("md") {
    gap: rem(86);
  }
}

.blog-page__content {
  max-width: 100%;
  width: calc(333 / 345 * 100%);
  margin-inline: auto;

  @include mq("md") {
    width: calc(706 / 1080 * 100%);
  }
}

.blog-page__content--detail {
  width: 100%;

  @include mq("md") {
    width: calc(700 / 1080 * 100%);
  }
}

.blog-page__aside {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: 0;
    width: calc(294 / 1080 * 100%);
  }
}

.blog-page__date {
  vertical-align: top;
  font-family: $base-font-family-en;
  font-size: rem(14);
  font-weight: $normal;
  color: $darkgreen;
}

.blog-page__title {
  margin-top: rem(8);
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
  font-family: $base-font-family-ja;
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.2;
  color: $darkgreen;

  @include mq("md") {
    font-size: rem(32);
  }
}

// .blog-page__detail {
//   margin-top: rem(24);

//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }
