@use "global" as *;

.breadcrumb__text {
  font-family: $base-font-family-ja;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.2;
  color: $darkgreen;
}

.breadcrumb--white {
  padding-top: rem(90);

  @include mq("md") {
    padding-top: rem(98);
  }

  .breadcrumb__text {
    color: $white;
  }
}
