@use "global" as *;

.breadcrumb__inner span {
  font-family: $base-font-family-ja;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.2;
  color: $darkgreen;
}

.breadcrumb__inner span a {
  transition: 0.3s opacity;
}

.breadcrumb__inner span:hover a {
  opacity: 0.7;
}

.breadcrumb__between {
  display: inline-block;
  margin-inline: rem(8);
  width: rem(8);
  height: rem(8);
  mask-image: url(../images/common/breadcrumb__between.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  background-color: $darkgreen;
}

.breadcrumb--white {
  padding-top: rem(90);

  @include mq("md") {
    padding-top: rem(98);
  }

  .breadcrumb__text {
    color: $white;
  }

  .breadcrumb__between {
    background-color: $white;
  }
}
