@use "global" as *;

.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  width: rem(202);
  margin-right: rem(4); // 影の分
  margin-bottom: rem(4); // 影の分
  padding: rem(15);
  font-family: $base-font-family-en;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.57143;
  color: $white;
  border: 1px solid $green;
  background-color: $green;
}

.button::before {
  position: absolute;
  content: "";
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: calc(100% + rem(2));
  height: calc(100% + rem(2));
  background-color: transparent;
  border: 1px solid $green;
}

.button::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

.button:hover {
  color: $green;
}

.button:hover::after {
  transform: scale(1, 1);
}

.button span::after {
  content: "";
  display: inline-block;
  margin-bottom: rem(4);
  width: rem(42);
  aspect-ratio: 42 / 8;
  background-color: currentColor;
  mask-image: url(../images/common/button-arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
}

.button--white {
  border: 1px solid $white;
  color: $green;
  background-color: $white;

  &::before {
    border: 1px solid $white;
  }

  &::after {
    background-color: $green;
  }

  &:hover {
    color: $white;
  }
}
