@use "global" as *;

.campaign {
  overflow-x: clip;
}

.campaign__content {
  position: relative;
  margin-top: rem(28);
  margin-left: rem(-8);
  margin-right: calc(50% - 50vw);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.campaign__swiper.swiper {
  margin-right: 0;
  margin-left: 0;
  width: auto;
}

.campaign__title {
  text-align: center;
}

.campaign__cards.swiper-wrapper {
  margin-left: rem(8);
  margin-bottom: rem(12);
}

.campaign__card.swiper-slide {
  width: rem(280);

  @include mq("md") {
    width: rem(333);
  }
}

.campaign-button-prev.swiper-button-prev,
.campaign-button-next.swiper-button-next {
  right: initial;
  left: initial;
  top: rem(-84);
  width: rem(80);
  height: rem(80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s opacity;
}

.campaign-button-prev.swiper-button-prev:hover,
.campaign-button-next.swiper-button-next:hover {
  opacity: 0.7;
}

.campaign-button-prev.swiper-button-prev {
  background-image: url(../images/common/arrow-circle.svg);
  right: rem(340);
  transform: scale(-1, 1);
}

.campaign-button-next.swiper-button-next {
  background-image: url(../images/common/arrow-circle.svg);
  right: rem(180);
}

.campaign-button-prev.swiper-button-prev::after,
.campaign-button-next.swiper-button-next::after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: rem(80);
  height: rem(80);
}

.campaign-button-prev.swiper-button-prev::after {
  right: rem(160);
}

.campaign-button-next.swiper-button-next::after {
  right: 0;
}

.campaign__button {
  margin-top: rem(28);
  text-align: center;

  @include mq("md") {
    margin-top: rem(68);
  }
}
