@use "global" as *;

.cards-02 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(40);

  @include mq("md") {
    grid-template-columns: repeat(2, calc(520 / 1080 * 100%));
    column-gap: calc(40 / 1080 * 100%);
  }
}

.cards-02__item {
}
