@use "global" as *;

.contact-form {
  font-family: $base-font-family-ja;
  color: $darkgreen;
}

#contact-form__error-message {
  display: none;
  padding-bottom: rem(38);
}

#contact-form__error-message p {
  margin-inline: auto;
  padding-left: 1em;
  text-indent: -1em;
  font-size: rem(14);
  font-weight: $normal;
  color: #c94800;
}

.contact-form__field {
  padding-bottom: rem(23);
  border-bottom: 1px dashed $green;

  @include mq("md") {
    display: grid;
    grid-template-columns: 11fr 24fr;
    padding-bottom: rem(39);
  }
}

.contact-form__field + .contact-form__field {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.contact-form__label {
  margin-right: rem(8);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
}

.contact-form__label,
.contact-form__label label {
  display: flex;
  align-items: center;
  gap: rem(7);

  @include mq("md") {
    align-items: flex-start;
  }
}

.contact-form__required {
  flex-shrink: 0;
  padding: rem(2) rem(12) rem(2) calc(0.4em + rem(12));
  font-size: rem(12);
  font-weight: $normal;
  letter-spacing: 0.4em;
  color: $white;
  background-color: #c94800;
}

.contact-form__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(3);
  margin-top: rem(14);

  @include mq("md") {
    margin-top: rem(3);
  }
}

.wpcf7-list-item {
  display: block;
  margin: 0;
}

.contact-form__checkbox {
  // WPカスタマイズ用
  .wpcf7-list-item {
    display: block;
    margin: 0;
  }

  .wpcf7-list-item:not(:first-child) {
    margin-top: rem(4);
  }

  .wpcf7-list-item-label {
    &::after {
      transition: none;
    }
  }
}

.contact-form__data-select {
  position: relative;
  max-width: rem(480);
  width: 100%;
}

.contact-form__data-select::after {
  position: absolute;
  top: rem(27);
  right: rem(8);
  content: "";
  display: inline-block;
  width: rem(12);
  height: rem(9);
  background-color: $green;
  clip-path: polygon(0 0, 100% 0, 50% 100%);

  @include mq("md") {
    top: rem(13);
  }
}

.contact-form__data-privacy {
  width: calc(282 / 345 * 100%);
  max-width: 100%;
  margin-inline: auto;

  @include mq("md") {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  // WPカスタマイズ用
  [type="checkbox"] + .wpcf7-list-item-label {
    position: relative;
    display: inline-block;
    margin-top: rem(40);
    margin-right: 0;
    padding-left: rem(30);
    font-size: rem(14);
    line-height: 1.57143;

    @include mq("md") {
      margin-top: rem(80);
      padding-left: rem(38);
    }

    &::before {
      top: rem(11);
      left: 0;
      width: rem(22);
      height: rem(22);
    }

    &::after {
      transition: none;
    }
  }

  [type="checkbox"]:checked + .wpcf7-list-item-label {
    &::after {
      top: rem(11);
      left: rem(1);
      margin-top: -0.2em;
      margin-left: 0.2em;
      width: rem(16);
      height: rem(9);
      transition: none;
    }
  }
}

// [type="checkbox"] + .contact-form__checkbox-text {
//   display: inline-block;
//   margin-top: rem(40);

//   // margin-inline: auto;
//   font-size: rem(14);
//   line-height: 1.5714;

//   @include mq("md") {
//     margin-top: rem(80);
//   }
// }

// [type="checkbox"] + .contact-form__checkbox-text {
//   margin-right: 0;
//   padding-left: rem(30);
//   line-height: 1.57143;

//   @include mq("md") {
//     padding-left: rem(38);
//   }

//   &::before {
//     top: rem(11);
//     left: 0;
//     width: rem(22);
//     height: rem(22);
//   }
// }

// [type="checkbox"]:checked + .contact-form__checkbox-text {
//   &::after {
//     top: rem(11);
//     left: rem(1);
//     margin-top: -0.2em;
//     margin-left: 0.2em;
//     width: rem(16);
//     height: rem(9);
//   }
// }

.contact-form__submit-button {
  margin-top: rem(24);
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
  }
}

// WordPressカスタマイズ用
div.wpcf7 .wpcf7-spinner {
  display: none !important;
}

.wpcf7-response-output {
  display: none;
}

.wpcf7-form.invalid {
  #contact-form__error-message {
    display: block;
  }
}
