@use "global" as *;

.contact {
  position: relative;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-inline: auto;
  text-align: center;

  @include mq("md") {
    grid-template-columns: 53.265% 46.735%;
    padding: rem(80) rem(50);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.contact__column1 {
  padding-inline: rem(25);

  @include mq("md") {
    padding-right: rem(82);
    padding-left: 0;
    border-right: 1px solid $green;
  }
}

.contact__column2 {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(18);
  }
}

.contact__column:first-child {
  @include mq("md") {
    padding-right: rem(80);
    border-right: 1px solid $green;
  }
}

.contact__column:nth-child(2) {
  @include mq("md") {
    padding-left: rem(80);
  }
}

.contact__logo {
  width: 100%;
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
  @include mq("md") {
    padding-bottom: rem(8);
  }
}

.contact__logo-img {
  width: rem(174);
  margin-inline: auto;
  aspect-ratio: 174 / 65;
  object-fit: cover;

  @include mq("md") {
    width: rem(200);
  }
}

.contact__logo img {
  width: 100%;
  height: 100%;
}

.contact__info {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  margin-top: rem(16);

  @include mq("md") {
    grid-template-columns: 38% 62%;
    column-gap: 0;
    margin-top: rem(24);
    text-align: left;
  }
}

.contact__info-text + .contact__info-text {
  margin-top: rem(4);
}

.contact__map {
  width: 100%;
  margin-top: rem(16);

  @include mq("md") {
    margin-top: 0;
  }
}

.contact__map-area {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding-top: calc(160 / 295 * 100%);

  @include mq("md") {
    padding-top: calc(148 / 273 * 100%);
  }
}

.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 295 / 160;

  @include mq("md") {
    aspect-ratio: 273 / 148;
  }
}

.contact__title {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
  }
}

.contact__text {
  margin-top: rem(8);
  font-family: $base-font-family-ja;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.2857;
  color: $green;
}

.contact__button {
  margin-top: rem(40);
  text-align: center;
}

.contact__decoration {
  position: absolute;
  top: rem(-26);
  right: calc(50% - min(48vw, rem(172)));
  width: rem(109);
  aspect-ratio: 109 / 50;
  background-image: url("../images/common/common-decoration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include mq("md") {
    top: rem(-40);
    right: calc(50% - min(48vw, rem(670)));
    width: rem(301);
  }
}
