@use "global" as *;

.faq-page__items {
  width: 100%;

  @include mq("md") {
    width: calc(700px / 1080px * 100%);
    max-width: 100%;
    margin-inline: auto;
  }
}

.faq-page__item + .faq-page__item {
  margin-top: rem(40);
}
