@use "global" as *;

.fv {
  position: relative;
}

.fv {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fv__bg {
  width: 100%;
  height: 100dvh;
  min-height: 500px;
}

// オープニングアニメーション
.fv__opening-bg {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  min-height: 500px;
  background-color: $white;
}

.fv__opening-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fv__opening-images {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;

  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
  }
}

.fv__opening-image01,
.fv__opening-image02 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__opening-image01 {
  object-position: bottom;

  @include mq("md") {
    object-position: right center;
  }
}

.fv__opening-image02 {
  object-position: top;

  @include mq("md") {
    object-position: left center;
  }
}
