@use "global" as *;

@if $startFrom == sp {
  .inner {
    width: 100%;
    max-width: $inner-sp;
    padding-inline: $padding-sp;
    margin-inline: auto;

    @include mq("md") {
      max-width: $inner-pc + strip-unit($padding-pc) * 2;
      padding-inline: $padding-pc;
    }
  }
} @else {
  .inner {
    max-width: $inner-pc + strip-unit($padding-pc) * 2;
    padding-inline: $padding-pc;
    width: 100%;
    margin-inline: auto;

    @include mq("md") {
      max-width: $inner-sp;
      padding-inline: $padding-sp;
    }
  }
}
