@use "global" as *;

.loading__title {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $green;
  opacity: 0;
}

.loading__title-main {
  margin-left: rem(20);
  font-family: $second-font-family-en;
  font-size: rem(40);
  font-weight: $normal;
  letter-spacing: 0.54em;
  line-height: 1.25;
  text-transform: uppercase;

  @include mq("md") {
    margin-left: rem(42);
    font-size: rem(80);
  }
}

.loading__title-sub {
  font-family: $base-font-family-en;
  font-size: rem(20);
  font-weight: $normal;
  line-height: 1.5;
}
