@use "global" as *;

.not-found-page {
  z-index: 1;
  position: relative;
  padding-bottom: rem(40);
  font-family: $second-font-family-en;
  color: $white;
  text-align: center;
  background-color: $green;

  @include mq("md") {
    padding-bottom: rem(148);
  }
}

.not-found-page::before {
  z-index: -1;
  position: absolute;
  top: rem(-60);
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: rem(345);
  aspect-ratio: 329 / 295;
  background-image: url(../images/common/404-decoration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include mq("md") {
    top: rem(-110);
    left: rem(180);
    left: calc(50% - min(48vw, rem(540)));
    transform: initial;
    width: rem(698);
  }
}

.not-found-page__message {
  font-size: rem(80);
  font-weight: $normal;
  letter-spacing: 0.5em;
  line-height: 1.2;
  text-indent: rem(34);
  text-indent: 0.5em;

  @include mq("md") {
    font-size: rem(160);
  }
}

.not-found-page__text {
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.4;

  @include mq("md") {
    margin-top: rem(24);
    line-height: 1.5;
  }
}

.not-found-page__button {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}
