@use "global" as *;

.price-page__container {
  width: 100%;

  @include mq("md") {
    width: calc(702 / 1080 * 100%);
    max-width: 100%;
    margin-inline: auto;
  }
}

.price-page__table {
  width: 100%;
}

.price-page__table + .price-page__table {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}
