@use "global" as *;

.sub-page-aside {
  max-width: 100%;
  width: calc(294 / 345 * 100%);
  margin-inline: auto;
}

.sub-page-aside__items {
}

.sub-page-aside__item {
}

.sub-page-aside__item + .sub-page-aside__item {
  margin-top: rem(80);
}

.sub-page-aside__title {
  position: relative;
  padding: rem(9) 0 rem(6) rem(82);
  font-family: $base-font-family-ja;
  font-size: rem(24);
  font-weight: $normal;
  line-height: 1.2;
  color: $darkgreen;
  background: linear-gradient(
    90deg,
    $green 0%,
    $green calc(8 / 294 * 100%),
    transparent calc(8 / 294 * 100%),
    transparent 100%
  );
}

.sub-page-aside__title::before {
  position: absolute;
  top: 0;
  left: rem(24);
  content: "";
  width: rem(50);
  aspect-ratio: 1 / 1;
  background-color: $darkgreen;
  mask-image: url(../images/common/text-decoration01.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
}

.sub-page-aside__content {
  margin-top: rem(24);
}

.aside-blog {
}

.aside-blog__cards {
}

.aside-blog__cards-item {
}

.blog-card {
}

.blog-card__link {
}

.blog-card__header {
}

.blog-card__img {
}

.blog-card__body {
}

.blog-card__date {
}

.blog-card__title {
}
