@use "global" as *;

.sub-page {
  position: relative;
}

.sub-page::before {
  z-index: -1;
  position: absolute;
  top: rem(-24);
  left: rem(15);
  content: "";
  width: rem(120);
  aspect-ratio: 120 / 55;
  background-image: url("../images/common/common-decoration.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: scale(-1, 1);

  @include mq("md") {
    top: rem(-70);
    left: calc(50% - min(48vw, rem(620)));
    width: rem(301);
  }
}

.sub-page__inner.inner {
  @include mq("md") {
    max-width: rem(800 + strip-unit($padding-pc) * 2);
  }
}
