@use "global" as *;

.tab {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(162), 1fr));
  column-gap: rem(21);
  row-gap: rem(14);
  flex-wrap: wrap;

  @include mq("md") {
    grid-template-columns: repeat(auto-fit, minmax(auto, rem(162)));
    column-gap: rem(32);
  }
}

.tab__category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $green;
  border: 1px solid currentColor;
  background-color: $white;
  transition: 0.3s color, 0.3s background-color, 0.3s border;
}

.tab__category.is-active {
  color: $white;
  background-color: $green;
}

.tab__category:hover {
  color: $white;
  background-color: $green;
}

.tab__link {
  width: 100%;
  padding: rem(6);
}

.tab__text {
  text-align: center;
  font-family: $base-font-family-ja;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.57143;
}
